@import url(https://fonts.googleapis.com/css?family=Maven+Pro:400,900);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

@import "theme_settings";

@import "../bower_components/foundation/scss/foundation/components/grid";
@import "../bower_components/foundation/scss/foundation/components/accordion";
@import "../bower_components/foundation/scss/foundation/components/alert-boxes";
@import "../bower_components/foundation/scss/foundation/components/block-grid";
@import "../bower_components/foundation/scss/foundation/components/breadcrumbs";
@import "../bower_components/foundation/scss/foundation/components/button-groups";
@import "../bower_components/foundation/scss/foundation/components/buttons";
@import "../bower_components/foundation/scss/foundation/components/clearing";
@import "../bower_components/foundation/scss/foundation/components/dropdown";
@import "../bower_components/foundation/scss/foundation/components/dropdown-buttons";
@import "../bower_components/foundation/scss/foundation/components/flex-video";
@import "../bower_components/foundation/scss/foundation/components/forms";
@import "../bower_components/foundation/scss/foundation/components/icon-bar";
@import "../bower_components/foundation/scss/foundation/components/inline-lists";
@import "../bower_components/foundation/scss/foundation/components/joyride";
@import "../bower_components/foundation/scss/foundation/components/keystrokes";
@import "../bower_components/foundation/scss/foundation/components/labels";
@import "../bower_components/foundation/scss/foundation/components/magellan";
@import "../bower_components/foundation/scss/foundation/components/orbit";
@import "../bower_components/foundation/scss/foundation/components/pagination";
@import "../bower_components/foundation/scss/foundation/components/panels";
@import "../bower_components/foundation/scss/foundation/components/pricing-tables";
@import "../bower_components/foundation/scss/foundation/components/progress-bars";
@import "../bower_components/foundation/scss/foundation/components/range-slider";
@import "../bower_components/foundation/scss/foundation/components/reveal";
@import "../bower_components/foundation/scss/foundation/components/side-nav";
@import "../bower_components/foundation/scss/foundation/components/split-buttons";
@import "../bower_components/foundation/scss/foundation/components/sub-nav";
@import "../bower_components/foundation/scss/foundation/components/switches";
@import "../bower_components/foundation/scss/foundation/components/tables";
@import "../bower_components/foundation/scss/foundation/components/tabs";
@import "../bower_components/foundation/scss/foundation/components/thumbs";
@import "../bower_components/foundation/scss/foundation/components/tooltips";
@import "../bower_components/foundation/scss/foundation/components/top-bar";
@import "../bower_components/foundation/scss/foundation/components/type";
@import "../bower_components/foundation/scss/foundation/components/offcanvas";
@import "../bower_components/foundation/scss/foundation/components/visibility";

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  font-weight: bold;
}

.site-title,
#site-navigation {
  font-family: 'Maven Pro', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.site-title a {
  font-size: 22px;
  margin-left: 1.2em;
}

#site-navigation {
  font-size: 16px;
  top: 1.8em;
}

#header-title,
#site-navigation {
  display: block;
  float: left;
}

#primary-menu {
  float: right;
}

#primary-menu ul {
  display: inline-block;
  list-style: none;
}

#primary-menu li {
  display: inline;
  margin-right: 1.8em;
}

#masthead {
  border-bottom: 1px solid #071831;
}

main#main {
  padding: 3em 3em 5em 3em;
}

h1.entry-title {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 28px;
}

.page-list {
  padding: 1em 0 1em 2em;
  border-left: solid #999 8px;
  margin: 1.5em .5em;
}

.site-footer {
  border-top: 1px solid #071831;
  padding-top: .5em;
  font-size: 90%;
}
